---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A Propos | Guillaume" description="Mon parcours">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A Propos"
				tagline="Mon parcours, mes compétences, mes passions"
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.png"
					alt="Guillaume, développeur web, mon parcours"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Mon Parcours</h2>
				<div class="content">
					<p>
						Après un passage enrichissant au sein de l'armée de Terre, j'ai choisi de m'orienter vers le développement web et web mobile. 
					</p>
					<p>
						Autodidacte et passionné par les nouvelles technologies, j'ai acquis une expérience professionnelle variée, notamment en tant que développeur web PHP/Symfony/Javascript au Groupe Les Echos - Le Parisien et comme technicien systèmes et réseaux chez Groupagora - Saretec. 
					</p>
					<p>
						Parallèlement, je travaille sur plusieurs projets personnels qui reflètent ma passion et ma curiosité pour le domaine.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<li>Titre professionnel RNCP - Développement Web & Web Mobile (Niveau Bac +2)</li>
					<li>Titre professionnel RNCP - Micro Réseaux et Systèmes</li>
				</div>
			</section>
			<section>
				<h2 class="section-title">Mes Passions</h2>
				<div class="content">
					<li><strong>Musculation</strong>: Devenir énorme</li>
					<li><strong>Sports de combat:</strong> Développer ma discipline personnelle</li>
					<li><strong>Gaming:</strong> Une passion qui me permet de me détendre et de me divertir</li>
					<li><strong>Voyages:</strong> J'adore découvrir de nouvelles cultures et paysages</li>
					<li><strong>Développement Web:</strong> Rapidement devenue une véritable passion</li>
					<li><strong>Nouvelle Techno:</strong> Toujours à la recherche des dernières innovations</li>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
